[submodule "Source_Code/Prusa_I3"]
	path = Source_Code/Prusa_I3
	url = https://github.com/CBR250/prusa_i3.git
[submodule "Online_Source/i3_Berlin"]
	path = Online_Source/i3_Berlin
	url = git@github.com:CBR250/i3_Berlin.git
[submodule "Output_files/Art_STL"]
	path = Output_files/Art_STL
	url = https://github.com/CBR250/Art_STL.git
[submodule "Software/arduino/arduino_lib"]
	path = Software/arduino/arduino_lib
	url = https://github.com/CBR250/arduino_lib.git
[submodule "Output_files/3D.Models.git"]
	path = Output_files/3D.Models.git
	url = https://github.com/CBR250/3D.Models.git
[submodule "Source_Code/Source_Code/snipmate-snippets"]
	path = Source_Code/Source_Code/snipmate-snippets
	url = git@github.com:freeman2004/Marlin-1.1.8.git
[submodule "Source_Code/snipmate-snippets"]
	path = Source_Code/snipmate-snippets
	url = git@github.com:freeman2004/Marlin-1.1.8.git
[submodule "Source_Code/Marlin-1.1.8"]
	path = Source_Code/Marlin-1.1.8
	url = git@github.com:freeman2004/Marlin-1.1.8.git
[submodule "Source_Code/prusa_i3"]
       path = Source_Code/prusa_i3
       url = git@github.com:CBR250/prusa_i3.git
